# Really specific
gba.specs

# IDE configs
.vscode

# Emulator temporaries
**/*.log
**/*.sav

# Python environment
**/.venv
**/__pycache__

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.gba

# Media
*.xcf
