/**
 * General.
 */
body, table, div, p, dl {
    font-family: 'Dejavu Sans', Lucida Grande, Verdana, Geneva, Arial, sans-serif;
    font-size: medium;
}

pre {
    font-size: 105%;
}

.doxtable tbody tr th {
    font-family: sans-serif;
}

/**
 * Members styling.
 */

/**
 * General code appearance.
 */
.memberdecls, .memname, div.fragment {
    font-family: Courier New, Consolas, monospace;
    font-size: medium;
}

div.fragment {
    padding: 8px;
}

/**
 * Member title, etc.
 */
.memtitle {
    font-family: Courier New, Dejavu Sans, sans-serif;
    background: #9fb1ff;
    background: none;
    border: none;
}
